# Сконфигурируйте проект, подставьте желаемые значения после "="

SECRET_KEY=my_secret_key
DEBUG=True
PROD=production

# Если база данных sqlite

DATABASE_URL=sqlite:///db.sqlite3

# Если база данных postgres

# NAMEDB=
# USERDB=
# PASSWORDDB=
# HOSTDB=
# PORTDB=


# Настройки для телеграм API

# TELEGRAM_API_ID=
# TELEGRAM_API_HASH=
# TELEGRAM_SESSION_STRING=
# PHONE=
# TELEGRAM_PASSWORD=

# Для работы парсера необходимо зарегистрировать приложение
# Переходим на https://my.telegram.org/auth
# Авторизуемся и переходим в "API development tools"
# Заполняем данные о нашем приложении и нажимаем "Create application"
# После этого у вас появятся API ID и API HASH
# Для генерации TELEGRAM_SESSION_STRING может понадобиться скрипт


# После конфигурации, переименуйте данный файл в ".env"
# Убедитесь, что данный файл занесен в gitignore, не допускайте выгрузки секретов на github